<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's Picture</title>
    <link href="/css/apod.css" rel="stylesheet">
    <script src="/js/apod.js" defer></script>
</head>
<body>
<h1>Astronomy Picture of the Day from NASA API APOD</h1>
<h2 id="title">NASA Image Title</h2>
<img id="image">
<iframe id="video" style="display: block"></iframe>
<label for="date_input">Earlier Date:</label>
<input id="date_input" name= "date_input" type="date" min="1995-06-16">
<p id="description">Description</p>
<a href="/monthly_gallery">Gallery of the Month</a>
</body>
</html>